{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | Mzalendo Dokeza Admin Panel'){% endblock %}

{% block branding %}
<img class="suneadmin__logo" src="{% static 'images/dokeza.png' %}" alt="Sunesis Logo">
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Mzalendo Dokeza Admin Panel</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}