{% extends "_layouts/base.html" %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
  <div class="dz-sub-navigation container-fluid">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/home.html' %}
    </nav>
  </div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
  <div class="row p-3">
    <div class="col-12 col-lg-6">
      <!-- Carousel -->
      <section class="dz-carousel">
        <h1 class="dz-main__heading">Featured</h1>
        <div class="dz-carousel__content">
          <div id="dz-carousel__captions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#dz-carousel__captions" data-slide-to="0" class=""></li>
              <li data-target="#dz-carousel__captions" data-slide-to="1" class="active"></li>
              <li data-target="#dz-carousel__captions" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item">
                <img class="img-fluidz" src="/static/images/bill_draft.svg" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <div class="carousel-item active">
                <img class="img-fluidz" src="/static/images/bill_draft.svg" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluidz" src="/static/images/bill_draft.svg" alt="">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#dz-carousel__captions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dz-carousel__captions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      <!-- END Carousel -->
      <!-- Bills -->
      <section class="dz-home__bills">
        <h1 class="dz-main__heading">Bills</h1>
        <div class="dz-home__content col-12 p-2">
          <!--Bills-->
          <div class="row">
            {% for bill in bills|slice:"4" %}
              <div class="dz-home__bills-card col-12 col-sm-6 p-2">
                <div class="card p-1">
                  <div class="dz-home__bills-{{ bill.get_bill_from_display|slugify|lower }} ">
                    <h5 class="bill-heading">{{ bill.title|capfirst }}</h5>
                    <h6 class="bill-sponsor">SPONSOR: {{ bill.sponsor }},<br/> {{ bill.get_sponsor_title_display }}</h6>
                  </div>
                  <div class="card-block">
                    <h6 class="bill-dates"><strong>1st Reading:</strong> {{bill.first_reading|date:"d M Y"|default:"--"}} | <strong>2nd Reading:</strong> {{bill.second_reading|date:"d M Y"|default:"--"}} <br />
                    <strong>3rd Reading:</strong> {{bill.third_reading|date:"d M Y"|default:"--"}} | <strong>Assent:</strong> {{ bill.assented_date|date:"d M Y"|default:"--"}}</h6>
                    <h6 class="bill-sponsor"></h6>
                    <p class="card-text">{{ bill.purpose|truncatewords:25 }}
                    </p>
                    <a href="{{ bill.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <!--END Bills-->
        </div>
      </section>
      <!-- END Bills -->
      <!-- Memoranda -->
      <section class="dz-memoranda">
        <h1 class="dz-main__heading">Call for Memoranda</h1>
        <div class="dz--memoranda__content col-12 p-2">
          <!--Memoranda cards-->
          <div class="row">
            {% for memorandum in memoranda|slice:"4" %}
              <div class="dz-memoranda__card col-12 col-sm-6 p-2">
                <div class="card p-1">
                  <div class="dz-memoranda-{{ memorandum.get_submit_to_display|slugify|lower }} ">
                    <h5 class="memorandum-heading">{{ memorandum.title|capfirst }}</h5>
                    <h6 class="memorandum-sponsor">HOUSE: {{ memorandum.get_submit_to_display }}</h6>
                    <h6 class="memorandum-dates"><strong>Deadline:</strong> {{memorandum.deadline|date:"d M Y"|default:"--"}}</h6>
                  </div>
                  <div class="card-block">
                    <p class="card-text">{{ memorandum.content|truncatewords:25 }}
                    </p>
                    <a href="{{ memorandum.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!--END Memoranda cards-->
          </div>
        </div>
      </section>
      <!-- END Memoranda -->
    </div>
    <div class="col col-12 col-sm-6 col-xl-3">
      <!-- News -->
      <section class="dz-news">
        <h1 class="dz-main__heading">News</h1>
        <div class="dz-news__content">
          {% for post in news %}
            <div class="dz-home__news-card">
              <div class="dz-home__news-heading">
                <h6 class="card-title">{{ post.title }}</h6>
                <p class="card-text small text-muted">
                  <strong>Date</strong>: {{ post.publish }}<br />
                  <strong>Author:</strong> {{ post.author }}
                </p>
              </div>
              <div class="card-block">
                <p class="card-text"> {{ post.content|truncatewords:25 }} </p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <!-- END News -->
      <!-- About -->
      <section class="dz-about">
        <h1 class="dz-main__heading">About</h1>
        <div class="dz-about__content p-3">
          <p>Dokeza - Swahili for ‘Share your Idea’ is an initiative by Mzalendo Trust, a non-partisan organization that keeps an eye on Kenyan Parliament with a mission to facilitate public participation in Parliamentary processes through Information
          Sharing, Research and Networking.</p>
          <a href="/about/" class="btn btn-danger btn-sm">Read more &hellip;</a>
        </div>
      </section>
      <!-- END about -->
      <!-- Help -->
      <section class="dz-help">
        <h1 class="dz-main__heading">Help</h1>
        <div class="dz-help__content p-3">
          <p>Navigating the Dokeza web portal can be challenging. </p>
          <a href="/help/" class="btn btn-danger btn-sm">Read more &hellip;</a>
        </div>
      </section>
      <!-- END News -->
    </div>
    <div class="col col-xl-3">
      <!-- events -->
      <section class="dz-events">
        <h1 class="dz-main__heading">Events</h1>
        <div class="dz-events__content">
          {% for event in events %}
            <div class="dz-events__card col-12">
              <h6 class="card-header dz-events__card--heading">{{ event.title }}</h6>
              <div class="card-block">
                <p class="card-text">
                  {{ event.description|truncatewords:25 }}
                </p>
                <a href="#" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <!-- END News -->
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->