
{% extends "_layouts/base_user.html" %}

{% load i18n static %}

<!-- Main Content -->
{% block content %}
<div class="row justify-content-between">
    <!-- Sidebar -->
    <aside class="dz-aside col-sm-3">
        <div class="list-group">
            <h6 class="list-group-item list-group-item-info">Bill Drafts</h6>
            <small>
          <a href="#" class="list-group-item list-group-item-action">All Draft Bills</a>
          <a href="#" class="list-group-item list-group-item-action active">Add New Draft Bill</a>
          <a href="#" class="list-group-item list-group-item-action">Categories</a>
          <a href="#" class="list-group-item list-group-item-action">Tags</a>
          </small>
        </div>
        <hr>
        <div class="list-group">
            <h6 class="list-group-item list-group-item-info">Publish</h6>
            <small>
            <li class="list-group-item justify-content-between">
              <div class="btn-group btn-group-sm" role="group" aria-label="Draft Bill">
                  <button type="button" class="btn btn-success">Save</button>
                  <button type="button" class="btn btn-secondary">Preview</button>
                  <button type="button" class="btn btn-secondary">Publish</button>
                </div>
            </li>
            <li class="list-group-item justify-content-between">
             <div>Status</div><span class="badge badge-default">DRAFT</span>
            </li>
          <li class="list-group-item justify-content-between">
             <div>Visibility</div><span class="badge badge-danger">PRIVATE</span>
            </li>
          </small>
        </div>
    </aside>
    <!-- END Sidebar -->

    <!-- Draft-A-Bill -->
    <article class="col-sm-9">
        <div class="card">
            <div class="card-header alert-info">
                <ul class="nav nav-tabs card-header-tabs justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Edit Draft Bill</a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Preview Draft</button>
                            <button type="button" class="btn btn-primary">Publish</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <form>
                    <div class="form-group">
                        <label for="billName"><small class="form-text">Name of the Bill</small></label>
                        <input type="text" class="form-control form-control-lg" id="billName" aria-describedby="billNameHelp" placeholder="Enter the Name/Heading of the bill">
                    </div>
                    <div class="form-group">
                        <label for="billSponsor"><small class="form-text">Bill Sponsor</small></label>
                        <input type="text" class="form-control" id="billSponsor" aria-describedby="billSponsorHelp" placeholder="Name of the bill sponsor">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="draftContent">Draft Content</label>
                        <textarea class="form-control" id="draftContent" rows="30"></textarea>
                    </div>
                </form>
                <a href="#" class="btn btn-success">Save Draft</a>
            </div>
        </div>
    </article>
    <!-- END Draft-A-Bill -->
</div>
{% endblock content%}
<!-- END Main Content -->

<!-- Quill Editor Block -->
{% block quill %}
<script src="{% static 'dist/js/dokeza-quill.js' %}"></script>
{% endblock quill %}
