{% extends "_layouts/base_user.html" %}

{% load i18n static %}

<!-- Main Content -->
{% block content %}
<div class="row justify-content-between">
    <!-- Sidebar -->
    <aside class="dz-aside col-sm-3">
        <div class="card">
            <div class="card-header card-inverse card-warning">
                My Annotations
            </div>
            <div class="card-block">
                <h4 class="card-title">Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">February 2017</a></li>
                    <li><a href="#">January 2017</a></li>
                    <li><a href="#">December 2016</a></li>
                    <li><a href="#">November 2016</a></li>
                    <li><a href="#">October 2016</a></li>
                    <li><a href="#">September 2016</a></li>
                    <li><a href="#">August 2016</a></li>
                    <li><a href="#">July 2016</a></li>
                    <li><a href="#">June 2016</a></li>
                    <li><a href="#">May 2016</a></li>
                    <li><a href="#">April 2016</a></li>
                </ol>
            </div>
        </div>
    </aside>
    <!-- END Sidebar -->

    <!-- Annotations -->
    <article class="col-sm-9">
        <div class="card">
            <h5 class="card-header card-inverse card-danger">The County Allocation of Revenue Bill, 2016</h5>
            <div class="card-block">
                <h6>Sponsor: Billow Kerrow, Chairperson, Committee on Finance, Commerce and Budget</h6>
                <hr>
                <p class="card-text"><span>&hellip;</span> 5. (1) Conditional allocations from national government revenue to each county government for the financial year 2016/2017 shall be as set out in Column H of the Second Schedule, comprising -</p>
                <blockquote class="blockquote">
                    <h6 class="card-subtitle mb-2 text-muted">Annotation</h6>
                    <p class="mb-0 blockquote-footer">Aenean sed nunc feugiat, pellentesque eros non, sollicitudin arcu. Ut rutrum orci sit amet fermentum iaculis. Vivamus fringilla, velit vitae molestie placerat, odio orci pretium lorem, id malesuada nibh eros et lacus. Nam ac nisl purus.
                        Proin cursus orci purus, ac ornare nunc hendrerit sit amet. In hac habitasse platea dictumst. Pellentesque at nisi vel justo semper finibus. Etiam sit amet dolor quis purus efficitur pretium. Duis a ullamcorper turpis, id luctus
                        ante. Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque
                        porttitor maximus malesuada.
                    </p>
                    <hr>
                    <a href="#" class="btn btn-sm btn-primary">Share</a>
                    <a href="#" class="btn btn-sm btn-success">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </blockquote>
                <hr>
                <p class="card-text"><span>&hellip;</span> 6. (1 ) Despite the provisions of any other law, where it is determined that the transfer of funds to a county government was done in error or fraudulently, such a transfer shall be regarded as not legally due to
                    that county government.</p>
                <blockquote class="blockquote">
                    <h6 class="card-subtitle mb-2 text-muted">Annotation</h6>
                    <p class="mb-0 blockquote-footer">Etiam sit amet dolor quis purus efficitur pretium. Duis a ullamcorper turpis, id luctus ante. Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis,
                        at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor maximus malesuada.
                    </p>
                    <hr>
                    <a href="#" class="btn btn-sm btn-primary">Share</a>
                    <a href="#" class="btn btn-sm btn-success">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </blockquote>
                <a href="#" class="btn btn-warning" style="background-color: #F6CC93; color: #965D0D">Go to Bill&hellip;</a>
            </div>
        </div>
        <hr>
        <div class="card">
            <h5 class="card-header card-inverse card-danger">The County Governments (Amendment)(No. 2) Bill, 2016</h5>
            <div class="card-block">
                <h6>Sponsor: Mutula Kilonzo, Jnr. Member, Committee on Legal Affairs and Human Rights</h6>
                <hr>
                <p class="card-text"><span>&hellip;</span> 3. Section 25 of the principal Act is amended in sub- section (2) by inserting</p>
                <blockquote class="blockquote">
                    <h6 class="card-subtitle mb-2 text-muted">Annotation</h6>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                    <hr>
                    <a href="#" class="btn btn-sm btn-primary">Share</a>
                    <a href="#" class="btn btn-sm btn-success">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </blockquote>
                <hr>
                <p class="card-text"><span>&hellip;</span> 36A. In overseeing the implementation of peace building projects, the Commission shall — (a) develop a monitoring and tracking mechanism for all peace building projects in the country;</p>
                <blockquote class="blockquote">
                    <h6 class="card-subtitle mb-2 text-muted">Annotation</h6>
                    <p class="mb-0 blockquote-footer">Duis a ullamcorper turpis, id luctus ante. Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque
                        vitae sagittis tempor. Pellentesque porttitor maximus malesuada.
                    </p>
                    <hr>
                    <a href="#" class="btn btn-sm btn-primary">Share</a>
                    <a href="#" class="btn btn-sm btn-success">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </blockquote>
                <a href="#" class="btn btn-warning">Go to Bill&hellip;</a>
            </div>
        </div>
    </article>
    <!-- END Annotations -->
</div>
{% endblock content%}
<!-- END Main Content -->
