{% extends "_layouts/base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Users</h2>
  {% if not request.user %}
    <p>You must be logged in to see other members.</p>
  {% else %}
    <div class="list-group">
    {% for user in user_list %}
      <a href="{% url 'users:detail' user.email %}" class="list-group-item">
      {% if user.full_name %}
        <h4 class="list-group-item-heading">{{ user.full_name }}</h4>
      {% else %}
        <h4 class="list-group-item-heading">{{ user.email }}</h4>
      {% endif %}
      </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
