{% extends "_layouts/base_user.html" %} {% load i18n static %} {% block page_title %}User: {{ object.email }} {% endblock page_title %} {% block content %}
<div class="row justify-content-between">
    <aside class="dz-aside col-sm-4">
        <div class="list-group">
            <div href="#" class="list-group-item justify-content-between list-group-item-warning">
                <h1>Profile</h1>
            </div>
            {% if object.profile.picture %}
            <img class="card-img-top" src=" {% static 'images/{{ object.profile.picture_url }}' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% else %} {% if request.user.profile.gender == 1 %}
            <img class="card-img-top" src=" {% static 'images/male_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% elif request.user.profile.gender == 2 %}
            <img class="card-img-top" src="{% static 'images/female_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% else %}
            <img class="card-img-top" src=" {% static 'images/male_green.svg' %}" alt="{{ request.user.first_name }} {{ request.user.last_name }}"> {% endif %} {% endif %}
            <div class="list-group-item list-group-item-action justify-content-between">
                {% if object.first_name %}
                <strong>Name</strong>
                <span class="">{{ object.full_name }}</span> {% else %}
                <strong>Username</strong>
                <span class="">{{ object.email }}</span> {% endif %}
            </div>
            <div class="list-group-item list-group-item-action justify-content-between">
                <strong>Joined</strong>
                <span class="">{{ object.profile.joined|date:'d M Y' }}</span>
            </div>
            <div class="list-group-item list-group-item-action justify-content-between">
                <strong>Last Seen</strong>
                <span class="">{{ object.profile.last_seen|date:'d M Y' }}</span>
            </div>
        </div>
        <br>
        <!--Activity-->
        <div class="list-group">
            <div href="#" class="list-group-item justify-content-between list-group-item-info">
                Activity
            </div>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Annotations</strong>
                <span class="badge badge-info badge-pill">22</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Comments</strong>
                <span class="badge badge-info badge-pill">38</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Shares</strong>
                <span class="badge badge-info badge-pill">9</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Likes</strong>
                <span class="badge badge-info badge-pill">29</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Posts</strong>
                <span class="badge badge-info badge-pill">2</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action justify-content-between">
                <strong>Followers</strong>
                <span class="badge badge-info badge-pill">122</span>
            </a>
        </div>
    </aside>
    <article class="col-sm-8">
        <div class="card">
            <div id="my_details" class="card-header {% if object.profile.is_member_of_parliament %}dz-user__mp {% elif object.profile.institution %}dz-user__institution
        {% else %}dz-user__standard {% endif %} alert-info">
                {% if not object.profile %}
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Details</a>
                    </li>
                    <!--
            <li class="nav-item">
              <a class="nav-link active" href="#">Settings</a>
            </li>
            -->
                </ul>
                {% else %}
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Details</span></a>
                    </li>
                    <!--
            <li class="nav-item">
              <a class="nav-link active" href="#">Settings</a>
            </li>
            -->
                </ul>
                {% endif %}
            </div>
            {% if not object.profile %}
            <div id="my_details" class="card-block user__settings">
                {% if object.full_name %}
                <h4 class="card-title">{{ object.full_name }}</h4>
                {% else %}
                <h4 class="card-title">{{ object.email }}</h4>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">{{ object.job_description }}</h6>
                <blockquote class="blockquote">
                    <h6 class="card-subtitle mb-2 text-muted">About</h6>
                    <p class="mb-0 blockquote-footer">
                        {% if not object.profile.bio %}
                        <em>Please add your a short biography.</em> {% else %}
                        <h4 class="card-title">{{ object.email }}</h4>
                        {% endif %}
                    </p>
                    {% if object.profile.institution %}
                    <p>I represent the {{ object.profile.institution }}on this platform.</p>
                    {% endif %} {% if object.profile.is_member_of_parliament and object.profile.national_assembly %}
                    <p>I am the member of the <strong>National Assembly</strong> for <strong>{{ object.profile.get_constituency_display }}</strong> constituency.</p>
                    {% elif object.profile.is_member_of_parliament and object.profile.senate %}
                    <p>I am the member of the <strong>Senate</strong> for <strong>{{ object.profile.get_county_display }}</strong> county.</p>
                    {% endif %}
                    <p class="mb-0 blockquote-footer">County of Residence: {{ object.profile.get_county_residence_display }}</p>
                    <p class="mb-0 blockquote-footer">County of Interest: {{ object.profile.get_county_interest_display }}</p>
                </blockquote>
                <p class="card-text">You can get in touch via the following links:</p>
                <a href="#" class="card-link">Facebook</a>
                <a href="{{ object.twitter }}" class="card-link">Twitter</a>
                <a href="#" class="card-link">Email</a>
                <a href="#" class="card-link">Mobile: 0722 112233 / 0733 112233</a> {% if object == request.user %}
                <!-- Settings buttons -->
                {% if not object.profile %}
                <p>Please fill in your profile details. It will help to filter bills, annotations and comments that match your selections.</p>
                {% endif %}
                <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Change Profile</a>
                    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Change Email</a>
                </div>
                <!-- End Action buttons -->
                {% endif %}
            </div>
            <div id="my_settings" class="card-block settings__active">
            </div>
            {% else %}
            <div id="my_details" class="card-block">
                {% if object.full_name %}
                <h4 class="card-title">{{ object.full_name }}</h4>
                {% else %}
                <div id="my_details" class="card-block">
                    {% if object.full_name %}
                    <h4 class="card-title">{{ object.full_name }}</h4>
                    {% else %}
                    <h4 class="card-title">{{ object.email }}</h4>
                    {% endif %}
                    </p>
                    {% if object.profile.institution %}
                    <p>I represent the {{ object.profile.institution }}on this platform.</p>
                    {% endif %} {% if object.profile.is_member_of_parliament and object.profile.national_assembly %}
                    <p>I am the member of the <strong>National Assembly</strong> for <strong>{{ object.profile.get_constituency_display }}</strong> constituency.</p>
                    {% elif object.profile.is_member_of_parliament and object.profile.senate %}
                    <p>I am the member of the <strong>Senate</strong> for <strong>{{ object.profile.get_county_display }}</strong> county.</p>
                    {% endif %}
                    <p class="mb-0 blockquote-footer">County of Residence: <strong>{{ object.profile.get_county_residence_display }}</strong></p>
                    <p class="mb-0 blockquote-footer">County of Interest: <strong>{{ object.profile.get_county_interest_display }}</strong></p>
                    </blockquote>
                    <p class="card-text">You can get in touch via the following links:</p>
                    <a href="{{ object.profile.facebook " class="card-link">Facebook</a>
                    <a href="{{ object.profile.twitter }}" target="_blank" class="card-link">Twitter</a>
                    <a href="mailto:{{ object.email }}" class="card-link">Email</a>
                    <a href="" class="card-link">Mobile: {{ object.profile.prefix}} {{ object.profile.mobile }}</a>
                </div>
                <div id="my_settings" class="card-block">
                    {% if object == request.user %}
                    <!-- Settings buttons -->
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Change Profile</a>
                            <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Change Email</a>
                            <a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Change Password</a>
                        </div>
                    </div>
                    <!-- End Action buttons -->
                    {% endif %}
                </div>
                {% endif %} {% endif %}
    </article>
    </div>
    {% endblock content %}
