{% extends "_layouts/base_user.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="container user__entry">

  <div class="user__page">
  {% if user.full_name %}
    <h3>Full Name</h3>
    <p>{{ user.full_name }}</p>
    {% else %}
     <h3>Current username</h3>
     <p>{{ user.username }}</p>
  {% endif %}
   
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'users:profile_update' %}" class="btn btn-secondary">Next</a>
          </div>
        </div>
    </form>
  </div>
  
</div>
{% endblock %}
