{% extends "_layouts/base_user.html" %}

{% load i18n static %}

<!-- Main Content -->
{% block content %}
<div class="row justify-content-between">
    <!-- Sidebar -->
    <aside class="dz-aside col-sm-3">
        <div class="card">
            <div class="card-header card-inverse card-info">
                My Comments
            </div>
            <div class="card-block">
                <h4 class="card-title">Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">February 2017</a></li>
                    <li><a href="#">January 2017</a></li>
                    <li><a href="#">December 2016</a></li>
                    <li><a href="#">November 2016</a></li>
                    <li><a href="#">October 2016</a></li>
                    <li><a href="#">September 2016</a></li>
                    <li><a href="#">August 2016</a></li>
                    <li><a href="#">July 2016</a></li>
                    <li><a href="#">June 2016</a></li>
                    <li><a href="#">May 2016</a></li>
                    <li><a href="#">April 2016</a></li>
                </ol>
            </div>
        </div>
    </aside>
    <!-- END Sidebar -->

    <!-- Annotations -->
    <article class="col-sm-9">
        <div class="card">
            <h5 class="card-header card-inverse card-info">The County Allocation of Revenue Bill, 2016</h5>
            <div class="card-block">
                <h6>Sponsor: Billow Kerrow, Chairperson, Committee on Finance, Commerce and Budget</h6>
                <hr>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <a href="#" class="btn btn-sm btn-primary">Share</a>
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <div class="ml-auto p-2">
                            <h6 class="card-subtitle mb-2 text-muted">6hrs ago</h6>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                </blockquote>
                <hr>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <a href="#" class="btn btn-sm btn-primary">Share</a>
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <div class="ml-auto p-2">
                            <h6 class="card-subtitle mb-2 text-muted">1 week ago</h6>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                </blockquote>
                <hr>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <a href="#" class="btn btn-sm btn-primary">Share</a>
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <div class="ml-auto p-2">
                            <h6 class="card-subtitle mb-2 text-muted">2 months ago</h6>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                </blockquote>
                <a href="#" class="btn btn-warning" style="background-color: #F6CC93; color: #965D0D">Go to Bill&hellip;</a>
            </div>
        </div>
        <hr>
        <div class="card">
            <h5 class="card-header card-inverse card-info">The County Allocation of Revenue Bill, 2016</h5>
            <div class="card-block">
                <h6>Sponsor: Billow Kerrow, Chairperson, Committee on Finance, Commerce and Budget</h6>
                <hr>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <a href="#" class="btn btn-sm btn-primary">Share</a>
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <div class="ml-auto p-2">
                            <h6 class="card-subtitle mb-2 text-muted">6hrs ago</h6>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                </blockquote>
                <hr>
                <blockquote class="blockquote">
                    <div class="d-flex justify-content-start">
                        <div class="p-2">
                            <a href="#" class="btn btn-sm btn-primary">Share</a>
                            <a href="#" class="btn btn-sm btn-success">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                        <div class="ml-auto p-2">
                            <h6 class="card-subtitle mb-2 text-muted">1 week ago</h6>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-0 blockquote-footer">Praesent hendrerit, arcu vitae dictum iaculis, diam magna vehicula ipsum, non rutrum enim felis non mi. Praesent elementum ligula a est venenatis, at ornare nisi cursus. In eleifend neque vitae sagittis tempor. Pellentesque porttitor
                        maximus malesuada.
                    </p>
                </blockquote>
                <a href="#" class="btn btn-warning" style="background-color: #F6CC93; color: #965D0D">Go to Bill&hellip;</a>
            </div>
        </div>
    </article>
    <!-- END Annotations -->
</div>
{% endblock content%}
<!-- END Main Content -->
