{% extends "_layouts/base.html" %}
<!-- Sub-Navigation Block -->
{% block sub-navigation %}
  <div class="dz-sub-navigation container-fluid pr-0">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/home.html' %}
    </nav>
  </div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
<!-- Main Content -->
{% block content %}
  <div class="row">
    <div class="col">
      <div class="dz-main__submenu dz-about__submenu list-group">
        <a href="#about__dokeza" class="list-group-item list-group-item-action active">About Dokeza</a>
        <a href="#about__mzalendo" class="list-group-item list-group-item-action">About Mzalendo</a>
        <a href="#team" class="list-group-item list-group-item-action">Team</a>
        <a href="#partners" class="list-group-item list-group-item-action">Partners</a>
      </div>
    </div>
    <div class="dz-main__content dz-about__content col-9">
      <!-- About Dokeza -->
      <section class="dz-about-dokeza">
        <h1 id="about__dokeza" class="dz-main__content-heading">About Dokeza</h1>
        <blockquote class="blockquote">
          <span class="mb-0 blockquote-footer">
            <p>Dokeza - Swahili for ‘Share your Idea’ is an initiative by Mzalendo Trust, a non-partisan organization that keeps an eye on Kenyan Parliament with a mission to facilitate public participation in Parliamentary processes through Information Sharing, Research and Networking. </p>
            <p>Dokeza aims to facilitate and enhance public participation in lawmaking. The Constitution of Kenya 2010 in Art. 118 requires public participation in all governance processes including legislation. Mzalendo through Dokeza intends to bridge the public participation gap by providing Kenyans especially those online a platform where they can inform law making and have their views presented in Parliament as a memoranda.</p>
            <p>Dokeza has been endorsed by Parliament - National Assembly and the Senate - as an innovative platform that has the capacity to radically change public participation in lawmaking, since, it is modern, accessible and exciting. Traditionally, Parliament advertises calls for memoranda in leading newspapers (mostly Nation and The Standard) and give Kenyans a maximum of six days to submit their views through written memoranda to Parliament. Also outreach through newspapers is mandated by the law, it has limited reach as only about 500,000 Kenyans regularly buy them hence low or no participation.</p>
            <p>Having in mind that the largest segment of Kenya’s population is the youth and coincidentally most of them are online, Dokeza will thereby give this critical demographic of Kenya’s population an opportunity to participate and influence legislation. </p>
            <p>This platform will strive to make bills under public participation phase available and interpreted by an expert to make the law easily understandable. Kenyans will then have a chance to give their views in the various sections of the bill and even share their input on social media.
            </p>
            <p>Dokeza creates an interactive platform where lawmakers interacts with the citizens to inform bills up for discussion. Beyond legislation, Dokeza is likely to have other spillover effects of enabling its users to fully understand other roles of Parliamentarians. This understanding shall be crucial in holding Parliament to account and the overall growth of Kenya’s democracy.
            </p>
            <p>Dokeza seeks to:-</p>
            <ul>
              <li>empower the public to voice their opinions whether as individuals or loose communities of interest or practice, </li>
              <li>Enable organizations in Nairobi and other parts of the country to collate public opinion and draft memoranda within the stringent timelines Parliament gives;</li>
              <li>Serve as a repository of public commentary on various calls for memoranda;</li>
              <li>Provide Members of Parliament and Government Institutions an opportunity to practice open stakeholder management in drafting a bill or during its public participation phase;</li>
              <li>Test the access to information law by encouraging Parliament, the National Council for Law Reporting, the Kenya Law Reforms Commission, Attorney General and Government Printers to make legislative information accessible to the public within sensible timelines and in formats that are user friendly.</li>
            </ul>
          </span>
        </blockquote>
      </section>
      <!-- END About Dokeza -->
      <hr>
      <!-- About Mzalendo -->
      <section class="dz-about-mzalendo">
        <h1 id="about__mzalendo" class="dz-main__content-heading">About Mzalendo</h1>
        <blockquote class="blockquote">
          <span class="mb-0 blockquote-footer">
            <p>
             
            </p>
          </span>
        </blockquote>
      </section>
      <!-- END About Dokeza -->
      <hr>
      <!-- About Team -->
      <section class="dz-about-team">
        <h1 id="team" class="dz-main__content-heading">Team</h1>
        <blockquote class="blockquote">
          <span class="mb-0 blockquote-footer">
            <p>
              
            </p>
          </span>
        </blockquote>
      </section>
      <!-- END About Team -->
      <hr>
      <!-- About Partners -->
      <section class="dz-about-partners">
        <h1 id="partners" class="dz-main__content-heading">Partners</h1>
        <blockquote class="blockquote">
          <span class="mb-0 blockquote-footer">
            <p>
             
            </p>
          </span>
        </blockquote>
      </section>
      <!-- END About Partners -->
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->