{% extends "_layouts/base.html" %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
        {% include '_partials/sub-navigation/home.html' %}
    </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<div class="row">
    <div class="col">
        <div class="dz-main__submenu dz-contacts__submenu list-group">
            <a href="#" class="list-group-item list-group-item-action active">Postal Address</a>
            <a href="#" class="list-group-item list-group-item-action">Phone/Email Details</a>
            <a href="#" class="list-group-item list-group-item-action">Map/Physical Address</a>
        </div>
    </div>
    <div class="dz-main__content dz-contacts__content col-9">
        <!-- About Dokeza -->
        <section class="dz-contacts">
            <h1 class="dz-main__content-heading">Get in Touch</h1>
            <blockquote class="blockquote">
                <span class="mb-0 blockquote-footer">
                      <p>
                        Incase of any query or comment, do get in touch with Mzalendo Trust via any of the provided contact details.
                      </p>
                    </span>
            </blockquote>
        </section>
        <!-- END About Dokeza -->
        <hr>
        <section class="dz-contacts__physical-address">
            <h1 class="dz-main__content-heading">Postal Address</h1>
            <blockquote class="blockquote">
                <span class="mb-0 blockquote-footer">
                      <p>
                        Every so often we do appreciate receiving snail via the following address.
                      </p>
                    </span>
            </blockquote>
            <p>
                <div class="vcard">
                    <p class="fn">
                        <a class="url" href="#">Mzalendo Trust</a>
                        <p>
                            <p class="adr">
                                <span class="street-address">PO Box 21765</span> —
                                <span class="postal-code">00505</span><br>
                                <span class="region">Nairobi</span>,
                                <span class="country-name">Kenya</span>
                            </p>
                        </p>
                    </p>
                </div>
            </p>
        </section>
        <hr>
        <section class="dz-contacts__physical-address">
            <h1 class="dz-main__content-heading">Phone/Email Contacts</h1>
            <blockquote class="blockquote">
                <span class="mb-0 blockquote-footer">
                      <p>
                        Incase you are in rush, You can always Call or Email us via the following details.
                      </p>
                    </span>
            </blockquote>
            <p>
                <div class="vcard">
                    <p class="fn">
                        <a class="url" href="#">Mzalendo Trust</a>
                        <p>
                            Email: <span class="email">info@mzalendo.com</span><br> Tel: <span class="tel">+254 726 464063</span>
                        </p>
                    </p>
                </div>
            </p>
        </section>
        <hr>
        <section class="dz-contacts__physical-address">
            <h1 class="dz-main__content-heading">Map</h1>
            <blockquote class="blockquote">
                <span class="mb-0 blockquote-footer">
                      <p>
                        This is where we are located, if you would like to have a cup of coffee while we chat.
                      </p>
                    </span>
            </blockquote>
            <p>
                map
            </p>
        </section>
    </div>
</div>
{% endblock content%}
<!-- END Main Content -->
