main.kalenda {
  padding-top: 0;
}
.calendar__heading,
.calendar__head {
  padding: 0;
  border-bottom: 3px solid #009E57;
}
.calendar__head {
  width: 13.5rem;
}
.calendar__heading {
  width: 7.7rem;
}
.cal__wrapper {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.cal__wrapper #cal {
  padding: 0px;
  border-left: 1px solid #003a20;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3vw;
}
.cal__wrapper #cal .cal__label {
  border-top: 1px solid #003a20;
  flex: 1 1 14%;
  text-align: center;
  height: 2rem;
  padding: 8px 0;
  border-right: 1px solid #003a20;
  border-bottom: 1px solid #003a20;
}
.cal__wrapper #cal .day {
  flex: 1 1 14%;
  height: 6vw;
  border-right: 1px solid #003a20;
  border-bottom: 1px solid #003a20;
}
.cal__wrapper #cal .module__image {
  width: 2rem;
  height: 2rem;
  margin: 5px;
}
.cal__wrapper #cal .day:hover {
  background-color: #fff1c2;
}
.cal__wrapper #cal .sunday {
  border-right: solid 1px;
  border-bottom: 1px solid #003a20;
}
.cal__wrapper #cal .weekend {
  background-color: #b599d4;
  border-right: solid 1px #003a20;
}
.cal__wrapper #cal .date {
  color: #270054;
  padding: 5px;
}
.cal__wrapper #cal .empty {
  background-color: #ffe2e2;
}
.cal__wrapper #cal .current {
  background-color: #e8fbe8;
}
#cal__year {
  width: 100%;
  display: flex;
}
.note {
  width: 100%;
  text-align: center;
  font-family: 'museo_sans500_italic';
}
.cal__box {
  flex: 1 1 30%;
  margin: 1rem;
}
.cal__box a.month__highlight {
  font-family: 'museo_sans300';
  color: #270054;
}
.cal__box h3.header {
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
}
.cal__box .month__box {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #003a20;
  border-left: 1px solid #003a20;
}
.cal__box .month__box .month,
.cal__box .month__box .currentmonth {
  text-align: center;
  padding-top: 0.5rem;
  flex: 1 1 33%;
  height: 1.5rem;
  border-right: 1px solid #003a20;
  border-bottom: 1px solid #003a20;
}
.cal__box .month__box .month:hover {
  background-color: #fff1c2;
}
.cal__box .month__box .currentmonth {
  background-color: #ffe6fe;
}
.cal__box .month__box a.event {
  color: #009E57;
}
.cal__head {
  width: 100%;
  display: flex;
  margin: 2rem 0 1rem;
}
.cal__head > div {
  flex: 1 0 auto;
}
.cal__head > a {
  flex: 1 0 auto;
}
.cal__head .cal__month {
  font-size: 1.6rem;
  font-family: 'museo_sans500';
  text-align: center;
}

