@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
@import url('../vendor/css/font-awesome.css');

* {
  font-family: Rubik, san-serif;
}

/*Navbar*/

.dz--navbar {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  background: #000;
  background-image: linear-gradient(90deg,#000 30%,#009E57 10%);
}
.dz--navbar .nav-link {
  height: 60px;
  padding: 1.1rem 0;
  color: #eee;
}
.dz--navbar .nav-item.active {
  background: #00522D;
}
.dz--navbar .nav-link:hover {
  color: #00522D;
}
.dz--navbar .nav-item.active .nav-link:hover {
  color: #009E57;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand img {
  margin-left: -12px;
}
.dz--submenu {
  background: #00522D;
  margin-top: -20px;
}
.dz--submenu .nav-link {
  color: #eee;
}
.dz--submenu .nav-link:hover {
  color: #009E57;
}
.dz--submenu .nav-link.active {
  background: #fff;
  color: #00522D;
}



/*Main*/

.dz--main {
  padding-bottom: 1rem;
}

.dz--heading-5 {
  background: #009E57;
  color: #eee;
  padding: .5rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.dz--card .card-header,
.dz--card .card-title {
  font-size: 1rem;
}

.dz--card .card-text {
  font-size: .8rem;
}

.dz--card .btn {
  font-size: .7rem;
  background: #C22710;
  border: none;
}
.dz--bills {
  padding-top: 2.5rem;
}
.dz--card_bill {
  padding-bottom: 2rem;
}

.dz--card_news .card,
.dz--card_about .card,
.dz--card_calender-event .card {
  border: none;
}

.dz--card_date,
.dz--card_location,
.dz--card_venue {
  font-size: .5rem;
}

.dz--card_location,
.dz--card_venue {
  line-height: .9rem;
}

.dz--card_calender-event {}

.dz--card_inverse .card {
  background: #E6F5EF;
}


/*Bills*/

.dz--card_bill-desc {
  font-size: .4rem;
  text-transform: uppercase;
}

.dz--card_senate-bill {
  background: #3D0852;
  color: #eee;
}

.dz--card_national-assembly-bill {
  background: #6B4D0B;
  color: #eee;
  font-size: 0.8rem;
}
.card-header {
  margin: 0;
}

.dz--btn_link {
  font-size: .6rem
}

.btn.dz--btn_annotate {
  background: #C22710;
  border: none;
  font-size: 0.8rem;
}

.btn.dz--btn_comment {
  background: #520B00;
  border: none;
}

/*Single Bill*/
.dz--aside .card-header,
.dz--aside .card-title,
.dz--aside_heading,
.dz--aside_title {
  font-size: .9rem;
}


/*Events*/
.dz--calender{
  padding-top: 2.5rem;
}
.dz--calender .dz--card {
  margin-right: 0;
}
.dz--calender_tbl-events thead th{
  text-transform: uppercase;
}
.dz--calender_tbl-events tr td{
  width: 15rem;
  height: 20rem;
}


/*Signup*/
.dz--form_email-signup{

}
.dz--btn_facebook {
  background: #3B5998;
  border-color: #3B5998;
}
.dz--btn_facebook:hover{
  background: #2C4372;
  border-color: #2C4372;
}
.dz--btn_twitter {
  background: #55ACEE;
  border-color: #55ACEE;
}
.dz--btn_twitter:hover{
  background: #2595E9;
  border-color: #2595E9;
}
.dz--btn_google {
  background: #DD4B39;
  border-color: #DD4B39;
}
.dz--btn_google:hover {
  background: #C43322;
  border-color: #C43322;
}

/*Footer*/

.dz--footer {
  color: #eee;
  font-size: .8rem;
  background: #000;
  border-top: 5px #C22710 solid;
  margin-top: 1rem;
}

.dz--footer a {
  color: #eee;
}

.dz--footer a:hover {
  color: #009E57;
}

.dz--footer_copyright {
  padding: 1rem 0;
}

.dz--footer_links {
  display: block;
  margin-right: 2rem;
}

.dz--footer_links>dt {
  text-transform: uppercase;
  padding: .5rem 0;
}

.dz--footer_links>dd {
  line-height: .5rem;
}
