{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_partials/meta.html' %} {% block extra_js %}{% endblock %}
</head>

<body>
    <!-- Header. -->
    <header class="dz-header container-fluid"></header>
    <!-- END Header. -->

    <!-- Navigation -->
    <!-- Main-navigation -->
    <div class="dz-navigation container pr-0">
        {% include '_partials/navigation.html' %}
    </div>
    <!-- END Main-navigation -->

    <!-- Sub-navigation -->
    {% block sub-navigation %}{% endblock sub-navigation %}
    <!-- END Sub-navigation -->

    <!-- END Navigation. -->

    <!-- Main. -->
    <section class="dz-main container-fluid">
        <div class="container">
            {% block content %}{% endblock content %}
            {% block pagination %}{% endblock pagination %}
        </div>
    </section>
    <!-- END Main. -->

    <!-- Footer. -->
    <footer class="dz-footer d-flex">
        {% include '_partials/footer.html' %}
    </footer>
    <!-- END Footer. -->

    <!-- SCRIPTS. -->
    <!-- Third Party Scripts. -->
    <script src="{% static 'dist/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'dist/js/vendor.js' %}"></script>
    <!-- Annotator Block -->
    {% block annotatorjs %} {% endblock annotatorjs %}
    <!-- Quill Block -->
    {% block quill %} {% endblock quill %}
    <!-- Project Scripts. -->
    <script src="{% static 'dist/js/dokeza.js' %}"></script>
    <!--<script src="{% static 'js/project.js' %}"></script>-->
</body>

</html>
