{% extends 'base.html' %}
{% load i18n staticfiles scheduletags %}
{% load static from staticfiles %}

{% block head_title %}Calendar: {{ object.name }}{% endblock %}
{% block tab_id %}id='home_tab'{% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'schedule/css/modal.css' %}" />
    {% include "fullcalendar_script.html" %}
{% endblock %}

{% block content %}
    <a class="btn btn-primary gradient" href="{% url 'calendar_create_event' calendar_slug %}">
        <span class='glyphicon glyphicon-plus'></span>
        {% trans "Add New Session" %}
    </a>
    <br>
    <br>
    <div id='calendar'></div>

    {% include "fullcalendar_modal.html" %}
{% endblock %}
