{% extends "cal/base_calendar.html" %}
{% load i18n %}
{% block title %}{{ mname }} {{ year }} Calendar | {{ block.super}}{% endblock %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
  <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/public-participation.html' %}
  </nav>
</div>

{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->
{% block content %}
<div class="page__layout">
  <h2 class="calendar__head">Public Events Calendar</h2>
  <h2>Full Year: <a href="{% url 'kalenda:year' year %}">{{ year }}</a></h2>
  
  <div class="cal__wrapper">
    <div class="cal__head">
      <a href= "{% url 'kalenda:month' year month "prev" %}">
        <div class="last__month"></div>
      </a> 
      <div class="cal__month">{{ mname }} {{ year }}</div>
      <a href= "{% url 'kalenda:month' year month "next" %}">
        <div class="next__month" ></div>
      </a>
    </div>
    <div id="cal">
      <div class="cal__label">Monday</div>
      <div class="cal__label">Tuesday</div>
      <div class="cal__label">Wednesday</div>
      <div class="cal__label">Thursday</div>
      <div class="cal__label">Friday</div>
      <div class="cal__label">Saturday</div>
      <div class="cal__label sunday">Sunday</div>
      {% for week in month_days %}
        {% for day, events, current in week %}
          <div class='day {% if day == 0 %}empty{% endif %}
            {% if day != 0 and not current %}dates{% endif %}
            {% if day != 0 and current %}current{% endif %}'>
            {% if day != 0 %}
                <div class="date">{{ day }}</div>
                {% for event in events %}
                  <a href="{{ event.get_absolute_url }}">
                    <div class="module__image {{ event.program_module.slug }}"></div>
                  </a>
                {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}