{% extends "cal/base_calendar.html" %}

{% load i18n %}
{% block title %}{{ year }} - {{ year|add:'2' }} Calendar | {{ block.super}}{% endblock %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
  <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/public-participation.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

{% block content %}
<h2 class="calendar__head">Public Events Calendar</h2>

  <div class="page__layout">
    <div class="cal__head">
      <a href="{% url 'kalenda:year' year|add:'-3' %}"><div class="last__month"></div></a>
      <div class="cal__month">{{ year }} - {{ year|add:'2' }}</div>
      <a href="{% url 'kalenda:year' year|add:'3' %}"><div class="next__month" ></div></a>
    </div>
    <p class="note">Click on the arrows to navigate to the previous and next three years.</p>
    <p>The highlighted text are the months with classes.</p>
    <div id="cal__year">
      {% for year, months in years %}
      <div class="cal__box">
      <h3 class="header">{{ year }}</h3>
        <div class="month__box">
        {% for month in months %}
          <div class="{% if month.current %}currentmonth{% endif %}{% if not month.current %}month{% endif %}">
              <a class="month__highlight {% if month.event %}event{% endif %}" href="{% url 'kalenda:month' year month.n %}">{{ month.name }}</a>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

