{% extends "_layouts/base.html" %}
{% load i18n %}

{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<!-- Main Content -->
{% block content %}
  <h5 class="p-3">Login to annotate or comment on bills</h5>
  <div class="row pt-4 container">
    <div class="col-12 col-md-6">
      <hr>
      <h6 class="p-1">Email Login</h6>
      <hr>
      <form class="dz-form__email-signup form-signin" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary btn-block mb-3 p-3" type="submit">Login</button>
      </form>
      <div>Forgot your password?
        <a href="{% url 'account_reset_password' %}">Reset Here &hellip;</a>
      </div>
      <div>
        <hr>
        <div class="pt-2 pb-2">You don't have an account?</div>
        <a class="btn btn-outline-danger" role="button" href="{{ signup_url }}">Register</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <hr>
      <h6 class="p-1">Login via social media</h6>
      <hr>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}
      </div>
    </div>
  {% endblock content%}
  <!-- END Main Content -->