{% extends "_layouts/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}. You may now <a href="{% url 'users:login' %}"><strong>sign in</strong></a>.</p>
{% endblock %}

