{% extends "_layouts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    jQuery(window).load(function() {
      $('#id_username').focus();
      jQuery.fn.preventDoubleSubmission = function() {
        var last_clicked, time_since_clicked;
        $(this).bind('submit', function(event) {
          if (last_clicked) {
             time_since_clicked = event.timeStamp - last_clicked;
          }
          last_clicked = event.timeStamp;
          return !(time_since_clicked < 2000);
        });
       };
      $('#signup_form').preventDoubleSubmission();
    });
  </script>
{% endblock extra_js %}
<!-- Main Content -->
{% block content %}
  <h5 class="p-3">Register to annotate or comment on bills</h5>
  <div class="row pt-4 container">
    <div class="col-12 col-md-6">
      <hr>
      <h6 class="p-1">Register</h6>
      <hr>
      <form class="dz-form__email-signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary btn-block mb-3 p-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
      <div>
        <hr>
        <div class="pt-2 pb-2">Already Registered?</div>
        <a class="btn btn-outline-success" role="button" href="{{ login_url }}">Login</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <hr>
      <h6 class="p-1">Login/Register via social media</h6>
      <hr>
      <form class="dz--form_social-media form-signin">
        <a class="btn btn-primary dz-btn__facebook btn-block mb-3 p-3" role="button" href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Sign up with Facebook</a>
        <a class="btn btn-primary dz-btn__twitter btn-block mb-3 p-3" role="button" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Sign up with Twitter</a>
        <a class="btn btn-primary dz-btn__google btn-block mb-3 p-3" role="button" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Sign up with Google+</a>
      </form>
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->