@charset 'UTF-8';
// Dokeza  custom variables
// Bootstrap variable overides
// Global defaults
// Dokeza colours
$dz-clr--green:rgb(0, 158, 87);
$dz-clr--red:rgb(194, 39, 16);
$dz-clr--orange:rgb(245, 128, 44);
$dz-clr--brown:rgb(107, 77, 11);
$dz-clr--purple:rgb(61, 8, 82);
$dz-clr--text-color: rgba(0, 0, 0, .8);
$dz-clr--facebook:rgb(245, 128, 44);
$dz-clr--twitter:rgb(245, 128, 44);
$dz-clr--google:rgb(245, 128, 44);
// Bootstrap overrides
$brand-primary: $dz-clr--green;
// Fonts
$font-family-base: 'Rubik';
// Font-awesome
$fa-font-path: "/static/dist/fonts";
