
/*
  TABLE OF CONTENTS
  1. CONFIGURATION AND HELPERS
      ..Globally-available variables and config.

  2. VENDORS
      ..Vendor specific styles or Libraries.
        Bootstrap                   .. Bootstrap library (v4 alpha6)
        Font-awesome                .. Font-awesome icon fonts
        Quill Editor                .. Font-awesome icon fonts

  3. BASE
      ..Base or root level styles.

  4. COMPONENTS
      ..Globally-available page components styles.
        Header                      .. Header styles
            Navigation              .. Top Navigation styles
        Main                        .. Main content styles
        Footer                      .. Footer styles

  5. PAGE-SPECIFIC
      ..Page specific styles
        page__home                  .. Home page specific styles
          page_about                .. About page styles
          page_news                 .. News page styles
          page_contacts             .. Contacts page styles
        page__bills                 .. Bills page specific styles
        page__public participation  .. Public Participation page specific styles
        page__help                  .. Help page specific styles
        page__login/register        .. Login/Register page specific styles
        page__user                  .. User page specific styles
        page__search                .. Search page specific styles
 */

// 1. CONFIGURATION AND HELPERS
@import 'variables';
.dz-bg-orange {
  background-color: $dz-clr--orange;
}

// 2. VENDORS
//    Bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap';
//    Font-awesome
@import '../../../../node_modules/font-awesome/scss/font-awesome';
//    Quill
@import '../../../../node_modules/quill/dist/quill.snow.css';
// 3. BASE
body {
  background-color: $black;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 0.5rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
}

strong {
  font-weight: 500;
}

p {
  width: 100%;
  font-weight: 300;
}

label {
  width: 15rem;
}

.row {
  margin: 0;
}

// 4. COMPONENTS
//    Header
.dz-header {
  background-color: $brand-primary;
  background-image: linear-gradient(to right, $black 15%, $brand-primary 15%);
  height: 60px;
  @include media-breakpoint-up(lg) {
    background-image: linear-gradient(to right, $black 25%, $brand-primary 25%);
  }
  @media (min-width: 2000px) {
    background-image: linear-gradient(to right, $black 35%, $brand-primary 35%);
  }
}

//    Navigation
.dz-navigation,
.dz-sub-navigation {
  overflow-x: auto;
  font-size: .9rem;
  &__navbar {
    overflow: auto;
    .user-profile {
      display: block;
      padding: 0.5em 1em;
      color: white;
      &__name {
        color: white;
        padding: 0 1rem;
      }
      img {
        height: 1.5rem;
      }
    }
  }
  &__scroll {
    width: 70px;
    background-color: $dz-clr--red;
  }
  @media (min-width:400px) {
    &__scroll {
      display: none;
    }
  }
}

.dz-navigation {
  background-color: $brand-primary;
  margin-top: -60px;
  @include media-breakpoint-up(sm) {
    padding-left: 0;
  }
  &__navbar {
    padding-left: 10px;
    @include media-breakpoint-up(sm) {
      padding-left: 3px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 0;
    }
  }
  .navbar-toggler {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='butt' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link {
    color: white;
    @include media-breakpoint-up(lg) {
      height: 60px;
      padding-top: 19.2px;
    }
    &.active {
      background-color: darken($brand-primary, 10%);
    }
  }
}

.dz-sub-navigation {
  background-color: darken($brand-primary, 10%);
  .nav-link {
    color: white;
    white-space: nowrap;
    &:hover {
      color: $white;
    }
    &.active {
      background-color: white;
      color: darken($brand-primary, 10%);
    }
  }
}

//    Main
.dz-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;
  &__heading {
    @extend .dz-main;
    font-size: 1.2rem;
    padding: .5rem;
    background-color: $brand-primary;
    color: rgba($white, .9);
    font-weight: normal;
  }
  .verified,
  .unverified,
  .primary {
    margin: 0 0.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
  }
  .verified {
    background-color: lighten($brand-primary, 20%);
  }
  .unverified {
    background-color: lighten($dz-clr--red, 20%);
  }
  .primary {
    background-color: lighten($dz-clr--orange, 20%)
  }
}

//    Footer
.dz-footer {
  @extend .dz-main;
  background-color: $black;
  color: $white;
  border-top: .5rem solid $dz-clr--red;
  &__copyright {}
}

// 5. PAGE-SPECIFIC
//    page__home
.card-block {
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
//     home__bills
.dz-home__bills {
  &-senate {
    background-color: lighten($dz-clr--purple, 76%);
    padding: 1rem;
  }
  &-national-assembly {
    background-color: lighten($dz-clr--brown, 70%);
    padding: 1rem;
  }
  .p-1 {
    padding: 0 !important;
  }
  .bill-heading {
    color: black;
  }
  .bill-sponsor {
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0;
  }
  .bill-dates {
    margin: 0.25rem 0 0.75rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

.dz-home__news-card {
  margin-bottom: 1rem;
  border-bottom: 1px solid #636c72;
}

.dz-home__news-heading {
  padding: 0.5rem;
  background-color: #dff0d8;
}

//      page__home
//      page__about
.dz-main__submenu-about {}

.dz-main__content {
  &-about {}
  &-heading {
    font-size: 1.5rem;
  }
}

//     page__news
.dz-news__post {
  padding-top: 1rem;
  &--heading {
    font-weight: normal;
  }
  &--date-author {}
  &--categories {}
  &--content {
    border-bottom: 1px solid $gray-lighter;
  }
}

//    page__contacts
//    page__bills
.dz-bills {
  &__senate,
  &__national-assembly {
    color: $white;
    padding: 1rem;
    height: 5rem;
  }
  &__senate {
    background-color: darken($dz-clr--purple, 3%)
  }
  &__national-assembly {
    background-color: darken($dz-clr--brown, 3%)
  }
  .p-1 {
    padding: 0 !important;
    a:hover {
      text-decoration: none;
    }
  }
}

.carousel-inner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  color: #3c763d;
  text-align: center;
  opacity: 0.2;
  background-color: darken($dz-clr--purple, 10%);
  &:hover {
    opacity: 0.4;
  }
}
.img-fluidz {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
}

.carousel-indicators li {
  background-color: darken($dz-clr--green, 10%);
}
.carousel-indicators .active {
  background-color: $dz-clr--red;
}
.carousel-caption {
  position: absolute;
  top: 16%;
  height: 12rem;
  z-index: 10;
  padding: 20px;
  color: white;
  text-align: center;
  background-color: rgba(64, 64, 64, .8);
  border-radius: 6px;
}
.bill-specs{
  padding: 0.5rem;
}
.bill-pic {
  padding: 0 !important;
}
.bill-cover {
  margin-top: 0.5rem;
  width: 6rem;
  border: 1px solid lightgrey;
}
.bill-actions {
  margin-bottom: 0.5rem;
}
//    page__public participation
.dz-events {
  &__content {}
  &__card {
    &--heading {
      background-color: #dff0d8;
    }
  }
}

.dz-petitions {
  &__content {}
  &__card {
    &--heading {
      background-color: lighten($dz-clr--red, 50%)
    }
  }
}

.dz-memoranda {
  &__content {}
  &__card {
    &--heading {
      background-color: lighten($dz-clr--brown, 50%)
    }
  }
}

//    page__help
//    page__login/register
.dz-form__email-signup {
  input {
    display: block;
    padding: 1rem 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  input#id_remember {
    display: inline;
    margin-right: 1rem;
  }
}

.account__forms {
  margin: 1rem auto;
}

.dz-btn {
  &__facebook {
    background-color: #3B5998;
    border-color: #3B5998;
    &:hover {
      background: #2C4372;
      border-color: #2C4372;
    }
  }
  &__twitter {
    background-color: #55ACEE;
    border-color: #55ACEE;
    &:hover {
      background-color: #2595E9;
      border-color: #2595E9;
    }
  }
  &__google {
    background-color: #DD4B39;
    border-color: #DD4B39;
    &:hover {
      background-color: #C43322;
      border-color: #C43322;
    }
  }
}
.socialaccount_providers {
  li {
    list-style: none;
  }
}
.dz-user {
  &__standard {
    background-color: $dz-clr--orange;
  }
  &__mp {
    background-color: $dz-clr--brown;
  }
  &__institution {
    background-color: $dz-clr--purple;
  }
}

.nav-link.active.dz-user {
  &__standard {
    @extend .dz-user__standard;
  }
  &__mp {
    @extend .dz-user__mp;
  }
  &__institution {
    @extend .dz-user__institution;
  }
}

.user__settings {
  display: none;
}

.card-img-top {
  max-width: 360px;
  margin: 1.5rem;
}

//    page__user
.btn-secondary {
  background-color: lighten($dz-clr--red, 40%)
}

//    page__search
