{% extends "_layouts/base.html" %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
        {% include '_partials/sub-navigation/home.html' %}
    </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<!-- News Content -->
<section class="dz-main__content dz-about__content col-9">
  <h1 class="dz-main__content-heading text-hide">News Articles</h1>
  {% for post in posts %}
  <article class="dz-news__post">
    <h4 class="dz-news__post--heading">{{ post.title }}</h4>
    <p class="dz-news__post--date-author m-0">
      <small>{{ post.publish }} by {{ post.author.full_name }} | <strong>Catergories</strong>: {% for name in post.tags.names %} {{ name }}{% if name in post.tags.names > 1 %} , {% endif %}{% endfor %}</small>
    </p>
    <p class="dz-news__post--categories m-0"></p>
    <div class="dz-news__post--content p-4">
      {{ post.content|truncatewords:50 }}
      <a href="{{ post.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
    </div>
  </article>
{% endfor %}
</section>
<!-- END News Content -->

<!-- News Submenu -->
<div class="col">
    <div class="dz-main__submenu dz-news__submenu list-group">
        <li class="list-group-item">
          <ol class="list-unstyled">
            <li>
              <h5 class="text-muted">Meta</h5>
            </li>
            <li><a href="#">Entries RSS</a></li>
            <li><a href="#">Comments RSS</a></li>
          </ol>
        </li>
        <li class="list-group-item">
          <ol class="list-unstyled">
            <li>
              <h5 class="text-muted">Categories</h5>
            </li>
            {% for tag in tags %}
              <li><a href="{% url 'tagged' tag.slug %}"></a></li>
            {% empty %}
              <li>No Categories</li>
            {% endfor %}
          </ol>
        </li>
        <li class="list-group-item">
          <ol class="list-unstyled">
            <li>
                <h5 class="text-muted">Archives</h5>
            </li>
            <li><a href="#">February 2017</a></li>
          </ol>
        </li>
    </div>
</div>
<!-- END News Submenu -->
{% endblock content%}
<!-- END Main Content -->
