{% extends "_layouts/base.html" %}
{% load static i18n %}

{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
        {% include '_partials/sub-navigation/bills.html' %}
    </nav>
</div>
{% endblock sub-navigation %}
{% block breadcrumbs %}<a href="/bills/">Bills</a>{% endblock breadcrumbs %}
{% block pagination %}
<!-- Pagination -->
  <nav aria-label="Page pagination">
      <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
              <a class="page-link" href="#">Next</a>
          </li>
      </ul>
  </nav>
<!-- END Pagination -->
{% endblock pagination %}