{% extends "bills/base_bill.html" %}
<!-- Main Content -->
{% block content %}
  <div class="row p-3">
    <div class="col-12 col-lg-12">
      <!-- Bills -->
      <section id="all__bills" class="dz-bills">
        <h1 class="dz-main__heading">National Assembly Bills for Public Participation</h1>
      <div class="dz--bills__content col-12">
        <!--Bills-->
        <div class="row">
        {% for bill in assembly_bills|slice:"12" %}
          <div class="dz-bills__card col-12 col-xs-6 col-sm-4 p-3">
            <div class="card p-1">
              <div class="dz-bills__national-assembly  ">
                <h5 class="bill-heading">{{ bill.title|capfirst }}</h5>            
              </div>
              <div class="card-block">
                <p class="bill-sponsor">SPONSOR: {{ bill.sponsor }} <br/>
                <em>{{ bill.get_sponsor_title_display }}</em></p>
                 
                <p class="bill-dates"><strong>5</strong> Annotations | <strong>{{ bill.comments.count }}</strong> Comments<br />
                <strong>Updated:</strong> {{bill.updated_date|date:"d M Y"|default:"--"}}</p>
                
                <p class="card-text">{{ bill.purpose|truncatewords:25 }}
                </p>
                <a href="{{ bill.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          </div>
        {% endfor %} 
        </div>
        <!--END Bills Cards-->
      </div>
      </section>
      <!-- END Bills Section -->
      <hr>
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->

