{% extends "bills/base_bill.html" %}
{% load static %}
{% load urlify %} {% load crispy_forms_tags %}
{% block title_page %}Bill: {{ object.title }}{% endblock title_page %}
{% block breadcrumbs %} {{ block.super }} » 
  {% if bill.get_bill_from_display|slugify|lower == 'senate' %}
  <a href="{% url 'bills:list' %}">Senate</a> 
  {% else %}<a href="url 'bills:list#national_assembly' ">National Assembly</a> 
  {% endif %} » {{ object.title }}
{% endblock %}

{% block content %}
<!--Main-->
<div class="row justify-content-between">
  <aside class="dz--aside col-sm-4">
    <!--Card-->
    <div class="dz--card_bill">
      <div class="card">
        <h3 class="dz--card_{{ bill.get_bill_from_display|slugify|lower }}-bill card-header">
        {{ object.title }}
        <br><br> {% if bill.get_bill_from_display|slugify|lower == 'senate' %}
          <span class="dz--card_bill-desc">Senate Bill</span> {% else %}
          <span class="dz--card_bill-desc">National Assembly Bill</span> {% endif %}
          </h3>
          <div class="card-block">
            <div class="row">
              <div class="bill-specs col-sm-8">
                <h4 class="card-title">SPONSOR: {{ bill.sponsor }}</h4>
                <p class="bill-dates"><strong>5</strong> Annotations | <strong>{{ bill.comments.count }}</strong> Comments<br />
                <strong>Last updated:</strong> {{bill.updated_date|date:"d M Y"|default:"--"}}</p>
                <p class="bill-actions">
                  Highlight text to <span class="dz--btn_annotate btn btn-primary btn-sm">Annotate</span></p>
                <p class="bill-actions">Click to leave a <a href="#comments" class="dz--btn_comment btn btn-primary btn-sm">Comment</a>
                </p>
              </div>
              <div class="bill-pic">
              {% if object.bill_pic %}
                  <img class="bill-cover" src="{{ object.bill_pic.url }}" alt="" >
              </div>
              {% else %}
                {% if object.bill_from == 1 %}
                  <img class="bill-cover" src="{% static 'images/bill_draft_assembly.svg' %}" alt="">
                {% elif object.bill_from == 2 %}
                   <img class="bill-cover" src="{% static 'images/bill_draft_senate.svg' %}" alt="">
                {% else %}
                  <img class="bill-cover" src="{% static 'images/bill_draft.svg' %}"  alt=""> 
                {% endif %}
              {% endif %}
            </div>
            <hr>
            <p class="card-text">
              <h5 class="dz--aside_heading">{{ bill.title|upper }}</h5>
              <h6 class="dz--aside_title">Clause</h6>
              <ol class="ul">
               {% for list in toc %}
                  {{ list|safe|capfirst }}
                {% endfor %}
              </ol>
            </p>
          </div>
        </div>
      </div>
      <!--END Card-->
    </aside>
    <div class="col-sm-8">
      <h1>{{ object.get_object_from_display }}</h1>
      <h2>{{ object.title }}</h2>
      <div id="content"> {{ object.body|safe }}</div>
      <p>Created on {{ object.created }}</p>
      <p><strong>{{ object.owner.username }}</strong></p>
      <p>{{ object.pdf }}</p>
    </div>
  </div>
  <h6 id="comments" class='lead'>Comments</h6>
  {% if request.user.is_authenticated %}
    <form method="POST" action="."> {% csrf_token %} {{ comment_form|crispy }}
      <input type='submit' value='Post comment' class='btn btn-default'>
    </form>
  {% else %}
    <p>You must login to comment </p>
  {% endif %}
  <hr/> {% for comment in comments %}
    <blockquote>
      <p>{{ comment.content }}</p>
      <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> |
      <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
      <div class='comment-reply'>
        {% for child_comment in comment.children %}
          <blockquote>
            <p>{{ child_comment.content }}</p>
          <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
        </blockquote>
      {% endfor %} {% if request.user.is_authenticated %}
      <form method="POST" action="."> {% csrf_token %} {{ comment_form|crispy }}
        <input type='hidden' name='parent_id' value='{{ comment.id }}'>
        <input type='submit' value='Reply' class='btn btn-default'>
      </form>
    {% else %}
      <p>You must login to comment </p>
    {% endif %}
  </div>
</blockquote>
<hr/> {% endfor %}
</div>
<!--END Main-->
{% endblock content %}
<!-- Annotator Block -->
{% block annotatorjs %}
<script src="{% static 'dist/js/vendor/annotator.2.0.0.min.js' %}"></script>
<script src="{% static 'dist/js/dokeza-annotator.js' %}"></script>
{% endblock annotatorjs %}