{% extends "bills/base_bill.html" %}
<!-- Main Content -->
{% block content %}
  <div class="row p-3">
    <div class="col-12 col-lg-12">
      <!-- Carousel -->
      <section class="dz-carousel">
        <h1 class="dz-main__heading">Featured Bills</h1>
        <div class="dz-carousel__content">
          <div id="dz-carousel__captions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#dz-carousel__captions" data-slide-to="0" class=""></li>
              <li data-target="#dz-carousel__captions" data-slide-to="1" class="active"></li>
              <li data-target="#dz-carousel__captions" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            {% for bill in bills|slice:"3" %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                {% if bill.bill_pic %}
                  <img class="img-fluidz" src="{{ bill.bill_pic.url }}" data-holder-rendered="true">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>{{ bill.title }}</h3>
                    <p>{{ bill.purpose }}</p>
                  </div>
                {% else %}
                  {% if bill.bill_from == 1 %}
                   <img class="img-fluidz" src="/static/images/bill_draft_assembly.svg" alt="">
                  {% elif bill.bill_from == 2 %}
                    <img class="img-fluidz" src="/static/images/bill_draft_senate.svg" alt="">
                  {% else %}
                   <img class="img-fluidz" src="/static/images/bill_draft.svg" alt="">
                  {% endif %}
                  <div class="carousel-caption d-none d-md-block">
                    <h3>{{ bill.title }}</h3>
                    <p>{{ bill.purpose }}</p>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#dz-carousel__captions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dz-carousel__captions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </section>
      <!-- END Carousel -->
      <!-- Bills -->
      <section id="all__bills" class="dz-bills">
        <h1 class="dz-main__heading">Bills open for Public Participation</h1>
        <div class="dz--bills__content col-12">
          <!--Bills-->
          <div class="row">
            {% for bill in bills|slice:"12" %}
              <div class="dz-bills__card col-12 col-sm-4 p-3">
                <div class="card p-1">
                  <a href="{{ bill.get_absolute_url }}">
                    <div class="dz-bills__{{ bill.get_bill_from_display|slugify|lower }} ">
                      <h5 class="bill-heading">{{ bill.title|capfirst }}</h5>
                    </div>
                  </a>
                  <div class="card-block">
                    <p class="bill-sponsor">SPONSOR: {{ bill.sponsor }} <br/>
                    <em>{{ bill.get_sponsor_title_display }}</em></p>
                    <p class="bill-dates"><strong>5</strong> Annotations | <strong>{{ bill.comments.count }}</strong> Comments<br />
                    <strong>Updated:</strong> {{bill.updated_date|date:"d M Y"|default:"--"}}</p>
                    <p class="card-text">{{ bill.purpose|truncatewords:25 }}
                    </p>
                    <a href="{{ bill.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <!--END Bills Cards-->
        </div>
      </section>
      <!-- END Bills Section -->
      <hr>
    </div>
  </div>
{% endblock content%}
<!-- END Main Content -->