{% extends "_layouts/base.html" %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
  <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
     {#  {% include '_partials/sub-navigation/help.html' %} #}
  </nav>
</div>
{% endblock sub-navigation %} -->
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<div class="row p-3">
  <div class="col-12 col-lg-12">
    <!-- Events Section -->
    <section class="dz-events">
      <h1 class="dz-main__heading">Help</h1>
      <div class="dz-events__content col-12">
        <!-- Events Cards-->
        <div class="row">
        {% for event in events %}
          <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
            <div class="card p-1">
              <h6 class="card-header dz-events__card--heading">{{ event.title }}</h6>
              <div class="card-block">
                <p class="card-text">
                {{ event.description|truncatewords:20 }}
                </p>
                <a href="{{ event.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--END Events Cards-->
      </div>
    </section>
    <!-- END Events Section -->
    <hr>
    <!-- Petitions Section -->
    <section class="dz-petitions">
      <h1 class="dz-main__heading">Petitions</h1>
      <div class="dz-petitions__content col-12">
        <!-- Petitions Cards-->
        <div class="row">
        {% for petition in petitions %}
          <div class="dz-petitions__card col-12 col-sm-6 col-md-4 p-2">
            <div class="card p-1">
                <h6 class="card-header dz-petitions__card--heading">{{ petition.title }}</h6>
                <div class="card-block">
                    <p class="card-text">{{ petition.content|safe|truncatewords:20 }}
                    </p>
                    <a href="{{ petition.get_absolute_url }} " class="btn btn-danger btn-sm">Read more&hellip;</a>
                </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--END Petitions Cards-->
      </div>
    </section>
    <!-- END Petitions Section -->
    <hr>
    <!-- Memoranda Section -->
    <section class="dz-memoranda">
      <h1 class="dz-main__heading">Memoranda</h1>
      <div class="dz-memoranda__content col-12">
        <!-- Memoranda Cards-->
        <div class="row">
        {% for memo in memoranda %}
          <div class="dz-memoranda__card col-12 col-sm-6 col-md-4 p-2">
            <div class="card p-1">
              <h6 class="card-header dz-memoranda__card--heading"> {{ memo.title }}</h6>
              <div class="card-block">
                <p class="card-text">{{ memo.content|truncatewords:20}}
                </p>
                <a href="{{ memo.get_absolute_url }}" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--END Memoranda Cards-->
      </div>
    </section>
    <!-- END Memoranda Section -->
  </div>
</div>
{% endblock content%}
<!-- END Main Content -->
