{% extends "_layouts/base.html" %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
    <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
        {% include '_partials/sub-navigation/public-participation.html' %}
    </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<div class="row p-3">
    <div class="col-12 col-lg-9">
        <!-- Carousel -->
        <section class="dz-carousel">
            <h1 class="dz-main__heading">Featured Events/Petitions/Memoranda</h1>
            <div class="dz-carousel__content">
                <div id="dz-carousel__captions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#dz-carousel__captions" data-slide-to="0" class=""></li>
                        <li data-target="#dz-carousel__captions" data-slide-to="1" class="active"></li>
                        <li data-target="#dz-carousel__captions" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item">
                            <img class="d-block img-fluid" data-src="holder.js/400x200?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [400x200]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15a491e7f74%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15a491e7f74%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.5546875%22%20y%3D%22218.4546875%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" data-src="holder.js/400x200?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [400x200]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15a491e7f79%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15a491e7f79%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22246.8203125%22%20y%3D%22218.4546875%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" data-src="holder.js/400x200?auto=yes&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [400x200]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15a491e7f7b%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15a491e7f7b%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22276.6015625%22%20y%3D%22218.4546875%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#dz-carousel__captions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dz-carousel__captions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- END Carousel -->

        <!-- Events Section -->
        <section class="dz-events">
            <h1 class="dz-main__heading">Public Events</h1>
            <div class="dz-events__content col-12">
                <!-- Events Cards-->
                <div class="row">
                    <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-events__card--heading">Public Event Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-events__card--heading">Public Event Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-events__card--heading">Public Event Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Events Cards-->
            </div>
        </section>
        <!-- END Events Section -->
        <hr>
        <!-- Petitions Section -->
        <section class="dz-petitions">
            <h1 class="dz-main__heading">Petitions</h1>
            <div class="dz-petitions__content col-12">
                <!-- Petitions Cards-->
                <div class="row">
                    <div class="dz-petitions__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-petitions__card--heading">Petitions Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-petitions__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-petitions__card--heading">Petitions Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-petitions__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-petitions__card--heading">Petitions Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Petitions Cards-->
            </div>
        </section>
        <!-- END Petitions Section -->
        <hr>
        <!-- Memoranda Section -->
        <section class="dz-memoranda">
            <h1 class="dz-main__heading">Memoranda</h1>
            <div class="dz-memoranda__content col-12">
                <!-- Memoranda Cards-->
                <div class="row">
                    <div class="dz-memoranda__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-memoranda__card--heading">Memoranda Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-memoranda__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-memoranda__card--heading">Memoranda Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                    <div class="dz-memoranda__card col-12 col-sm-6 col-md-4 p-2">
                        <div class="card p-1">
                            <h6 class="card-header dz-memoranda__card--heading">Memoranda Heading</h6>
                            <div class="card-block">
                                <p class="card-text">Dolorum ipsa dolorem vero libero. Nihil delectus, neque officia, officiis quisquam veritatis maiores, laudantium enim dolores
                                </p>
                                <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Memoranda Cards-->
            </div>
        </section>
        <!-- END Memoranda Section -->
    </div>

    <div class="col col-xl-3">
        <!-- Events -->
        <section class="dz-events">
            <h1 class="dz-main__heading">Events</h1>
            <div class="dz-events__content">
                <div class="card">
                    <div class="card-header text-center">
                        Calender widget
                    </div>
                    <div class="card-block">
                        <h6 class="card-title">Heading</h6>
                        <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am</p>
                        <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                        <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                    </div>
                </div>
                <div class="card alert-success">
                    <div class="card-block">
                        <h6 class="card-title">Heading</h6>
                        <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am
                        </p>
                        <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                        <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h6 class="card-title">Heading</h6>
                        <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am
                        </p>
                        <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                        <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END News -->
    </div>
</div>
{% endblock content%}
<!-- END Main Content -->
