{% extends "_layouts/base.html" %}
{% load scheduletags i18n %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
  <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/public-participation.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<div class="row p-3">
  <div class="col-12 col-lg-12">
    {# Calendar Section #}
    {% include "cal/_month.html" %}
    <!-- Events Section
    <section class="dz-events">
      <h2 class="dz-main__heading">Events for {{ mname }} {{year}}</h2>
      <div class="dz-events__content col-12">
        <!-- Events Cards
        <div class="row">
        {% for event in events %}
          <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
            <div class="card p-1">
              <h6 class="card-header dz-events__card--heading">{{ event.title }}</h6>
              <div class="card-block">
                <p class="card-text">
                {{ event.description|truncatewords:25 }}
                </p>
                <a href="#" class="btn btn-danger btn-sm">Read more &hellip;</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--END Events Cards
      </div>
    </section>
    <!-- END Events Section -->
    <hr>
    <!-- Pagination 
    <nav aria-label="Page pagination">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    <!-- END Pagination -->
  </div>
</div>
{% endblock content%}
<!-- END Main Content -->
