{% extends "_layouts/base.html" %}
{% load scheduletags i18n %}

<!-- Sub-Navigation Block -->
{% block sub-navigation %}
<div class="dz-sub-navigation container-fluid pr-0">
  <nav class="dz-sub-navigation__navbar nav container d-flex flex-nowrap">
      {% include '_partials/sub-navigation/public-participation.html' %}
  </nav>
</div>
{% endblock sub-navigation %}
<!-- END Sub-Navigation Block -->

<!-- Main Content -->
{% block content %}
<div class="row p-3">
  <div class="col-12 col-lg-9">
    <!-- Calendar Section -->
    {% include "schedule/_dialogs.html" %}
    <div class="row row-centered">
      <div class="calendarname">{{ calendar.name }}</div>
      {% prevnext "month_calendar" calendar period "F Y" %}
      <div class="now row-centered">
        <a href="{% url 'month_calendar' calendar.slug %}">
          {% trans "This month" %}
        </a>
      </div>
      <div class="center span7">
        {% month_table calendar period "regular" %}
      </div>
    </div>
    <div class="row row-centered">
      <a href="{% url 'tri_month_calendar' calendar.slug %}{% querystring_for_date period.start 2 %}">
        {% trans "Three Month Calendar" %}
      </a>
      <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date period.start 1 %}">
        {% trans "Full Year Calendar" %}
      </a>
    </div>
    <!-- END Calendar Section -->
    <!-- Events Section -->
    <section class="dz-events">
        <h1 class="dz-main__heading">Public Events</h1>
        <div class="dz-events__content col-12">
          <!-- Events Cards-->
          <div class="row">
          {% for event in events %}
            <div class="dz-events__card col-12 col-sm-6 col-md-4 p-2">
              <div class="card p-1">
                <h6 class="card-header dz-events__card--heading">{{ event.title }}</h6>
                <div class="card-block">
                  <p class="card-text">
                  {{ event.description|truncatewords:25 }}
                  </p>
                  <a href="#" class="btn btn-danger btn-sm">Read more &hellip;</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
          <!--END Events Cards-->
        </div>
    </section>
    <!-- END Events Section -->
    <hr>
    <!-- Pagination -->
    <nav aria-label="Page pagination">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <!-- END Pagination -->
  </div>

  <div class="col col-xl-3">
    <!-- Events -->
    <section class="dz-events">
        <h1 class="dz-main__heading">Events</h1>
        <div class="dz-events__content">
            <div class="card">
                <div class="card-header text-center">
                    Calender widget
                </div>
                <div class="card-block">
                    <h6 class="card-title">Heading</h6>
                    <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am</p>
                    <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                    <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                </div>
            </div>
            <div class="card alert-success">
                <div class="card-block">
                    <h6 class="card-title">Heading</h6>
                    <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am
                    </p>
                    <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                    <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h6 class="card-title">Heading</h6>
                    <p class="card-text small text-muted"><strong>Date</strong>: November 4 2016 | <strong>Location</strong>: Marsabit | <strong>Venue</strong>: County Hall, From 9.00am
                    </p>
                    <p class="card-text">Nulla natus voluptatem, laboriosam ipsam unde cum eos obcaecati, similique, esse error explicabo molestias odio non deserunt.</p>
                    <a href="#" class="btn btn-danger btn-sm">Read more&hellip;</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END News -->
  </div>
</div>
{% endblock content%}
<!-- END Main Content -->
