{% block sub-navigation %}
<a id="all__list" class="nav-link {% if stingo == 'all' %} active {% endif %}" href="/bills/">All Bills</a>
<a id="assembly_list" class="nav-link {% if stingo == 'assembly' %} active {% endif %}" href="/bills/assembly/">National Assembly Bills</a>
<a id="senate_list" class="nav-link {% if stingo == 'senate' %} active {% endif %}" href="/bills/senate/">Senate Bills</a> {% endblock sub-navigation %}
