{% block sub-navigation %}
<a class="nav-link {% if stingo == 'faqs' %} active {% endif %}" href="{% url 'home' %}">FAQs</a>
<a class="nav-link {% if stingo == 'sitemap' %} active {% endif %}" href="{% url 'home' %}">Sitemap</a> {% endblock sub-navigation %}
