{% block sub-navigation %}
<a class="nav-link {% if stingo == 'all' %} active {% endif %}" href="{% url 'home' %}">All</a>
<a class="nav-link {% if stingo == 'about' %} active {% endif %}" href="{% url 'about' %}">About</a>
<a class="nav-link {% if stingo == 'news' %} active {% endif %}" href="{% url 'posts:list' %}">News</a>
<a class="nav-link {% if stingo == 'contacts' %} active {% endif %}" href="{% url 'contacts' %}">Get in Touch</a> {% endblock sub-navigation %}
