{% block sub-navigation %}
<a class="nav-link {% if stingo == 'all' %} active {% endif %}" href="{% url 'public_participation:home' %}">All</a>
<a class="nav-link {% if stingo == 'events' %} active {% endif %}" href="{% url 'public_participation:events' %}">Public Events</a>
<a class="nav-link {% if stingo == 'petitions' %} active {% endif %}" href="{% url 'public_participation:petitions' %}">Petitions</a>
<a class="nav-link {% if stingo == 'memoranda' %} active {% endif %}" href="{% url 'public_participation:memoranda' %}">Call for Memoranda</a> {% endblock sub-navigation %}
