{% block sub-navigation %}
<a class="nav-link {% if stingo == 'profile' %} active {% endif %}" href="/users/{{ request.user.email }}">Profile</a>
<a class="nav-link {% if stingo == 'annotations' %} active {% endif %}" href="{% url 'users:annotations' %}">My Annotations</a>
<a class="nav-link {% if stingo == 'comments' %} active {% endif %}" href="{% url 'users:comments' %}">My Comments</a>
<a class="nav-link {% if stingo == 'draft_petition' %} active {% endif %}" href="{% url 'users:draft-petition' %}">Draft a Petition</a>
{% if request.user.profile.is_member_of_parliament %}
  <a class="nav-link {% if stingo == 'draft_bill' %} active {% endif %}" href="{% url 'users:draft-bill' %}">Draft a Bill</a>
{% endif %}

{% endblock sub-navigation %}
