{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
<section class="page__layout blogs__layout" > 
  <h1>Articles</h1>
  {% if latest_article and other_articles %}
    <article class="blog__hero">
      {% if latest_article.anchor_image %}
      <div class="hero__pic">
        <img src=" {{ latest_article.anchor_image.url }}" alt="">
      </div>
      {% else %}
      {% endif %}
      <a href="{{ latest_article.get_absolute_url }}">
        <h2 class="featured__article">{{ latest_article.title }}</h2></a>
      <p>{{ latest_article.first_paragraph|safe }} <a href="{{ latest_article.get_absolute_url }}" class="continue-reading">more...</a></p>
    </article>

    {% include "afroblog/blog_role.html" %}
  </section>
  {% else %}
    <p><strong>There are no published articles as yet.</strong></p>
  {% endif %}
{% endblock content %}