{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load social_share %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
  <section class="page__layout blog__article">
    {% if article.anchor_image %}
    <div class="hero__pic--article">
      <img src=" {{ article.anchor_image.url }}" alt="">
    </div>
    {% endif %}
    <h2>{{ article.title }}</h2>

    <p>
        {{ article.first_paragraph|safe }}
    </p>
    <p>
        {{ article.content|safe }}
    </p>
    <p class="blog__meta">
      This article was published on <span>{{ article.timestamp|date }}</span>. It was written by <span>{% if article.author.first_name %} {{ article.author.first_name }} {{ article.author.last_name }} {% else %} {{ article.author }} {% endif %}</span>
    </p>
    <div class="class__share blog__share">
      <div class="text-share">share</div>
      {% post_to_twitter '{{ article.title|safe }} by @SunesisKenya.' object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;' %}
      {% post_to_facebook object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
      {% post_to_linkedin article.title object_or_url "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" %}
      {% post_to_gplus object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;' %}
      {% send_email article.title 'I am taking the {{ article.title|safe }} by Sunesis Consulting Limited. Check out' object_or_url '&nbsp;&nbsp;&nbsp;&nbsp;' %}
    </div>
  </section>
  <section class="comments__section">
    <div class="front__forms comment__form">
      <h2 class='lead'>Comments</h2>
        {% if request.user.is_authenticated %}
        <form class="form-horizontal" method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <div class="g-recaptcha" data-sitekey="6Ldc1BEUAAAAABdnVbQpWkYjs9u5keiUBNIL0-tn"></div>
            <input type='submit' value='Post comment' class='btn btn-default'>
            
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        {% for comment in comments %}
          <hr/>
          <blockquote>
            <p>{{ comment.content }}</p>
            <footer><div class="comment__foot">via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></div></footer>
            <div class='comment-reply'>
              {% for child_comment in comment.children %}
                <blockquote>
                  <p>{{ child_comment.content }}</p>
                  <footer><div class="comment__foot">via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</div></footer>
                </blockquote>
              {% endfor %}
              {% if request.user.is_authenticated %}
                <form method="POST" action="."> {% csrf_token %}
                {{ comment_form|crispy }}
                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                <div class="g-recaptcha" data-sitekey="6Ldc1BEUAAAAABdnVbQpWkYjs9u5keiUBNIL0-tn"></div>
                <input type='submit' value='Reply' class='btn btn-default'>
                </form>
              {% else %}
                <p>You must login to comment </p>
              {% endif %}
            </div>
          </blockquote>
        {% endfor %}
    </div>
  </section>
{% endblock %}