{% load hitcount_tags %}

<div class="blog__role">
  <div class="blog__tabs">
    <div id="latest__list" class="list__header list__header--active">Latest</div>
    <div id="popular__list" class="list__header">Popular</div>
  </div>
  <div id="latest__role" class="blog__role">
    <article class="blog__list">
    {% for article in other_articles %}
      <div class="blog__snippet">
        <div class="blog__pic">
        {% if article.anchor_image %}
          <img src="{{ article.anchor_image.url }}" alt="">
        {% else %}
          <img class="pic__holder" src="/static/images/sunesis-holder.png" alt="">
        {% endif %}
        </div>
        <div class="blog__overview"><a href="{{ article.get_absolute_url }}"><h2>{{ article.title }}</h2></a>
                <p>{{ article.first_paragraph|safe|truncatewords_html:24}} <a href="{{ article.get_absolute_url }}" class="continue-reading">more...</a>
                </p></div>
      </div>
    {% endfor %}
    </article>
  </div>
  <div id="popular__role" class="blog__role">
    <ol>
    {% for hit in hits %}
    <li>
        <div class="list__links">
          <a href="{{ hit.get_absolute_url }}">{{ hit.title }}</a>
        </div>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>