{% extends "_layouts/base.html" %}
{% load urlify %}

{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}

<div class='row'>
  <div class='col-sm-8 '>
    <div class="post-detail-item ">
      <h2>{{ object.title }}</h2>
      <p>
        {{ object.content|safe }}
      </p>
    </div>
    <hr/>
    <div>
      <p class="lead">Comments</p>
      <form method="POST" action="."> {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Post comment" class="btn btn-default">
      </form>
      <hr/>
      {% for comment in comments %}
        <blockquote>
          <p>{{ comment.content }}</p>
          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %} {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} {% endif %} <a class="comment-reply-btn" href="#">Reply</a> | <a href="{{ comment.get_absolute_url }}">Thread</a></footer>
          <div class="comment-reply"> 
            {% for child_comment in comment.children %}
              <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago.</footer>
              </blockquote>
            {% endfor %}

            <form method="POST" action="."> {% csrf_token %}
              {{ comment_form|crispy }}
              <input type="hidden" name="parent_id" value="{{ comment.id }}">
              <input type="submit" value="Reply" class="btn btn-default">
            </form>
          </div>
        </blockquote>
        <hr/>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
