{% extends "_layouts/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
<section class="page__layout blogs__layout" > 
  <h1>Memoranda</h1>
  {% if latest_memoranda and other_memoranda %}
    <article class="blog__hero">
      {% if latest_memoranda.anchor_image %}
      <div class="hero__pic">
        <img src=" {{ latest_memoranda.anchor_image.url }}" alt="">
      </div>
      {% else %}
      {% endif %}
      <a href="{{ latest_memoranda.get_absolute_url }}">
        <h2 class="featured__memoranda">{{ latest_memoranda.title }}</h2></a>
      <p>{{ latest_memoranda.first_paragraph|safe }} <a href="{{ latest_memoranda.get_absolute_url }}" class="continue-reading">more...</a></p>
    </article>

    {% include "afroblog/blog_role.html" %}
  </section>
  {% else %}
    <p><strong>There are no published Memoranda as yet.</strong></p>
  {% endif %}
{% endblock content %}