{% extends "_layouts/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
<section class="page__layout blogs__layout" > 
  <h1>Petitions</h1>
  {% if latest_petitions and other_petitions %}
    <article class="blog__hero">
      {% if latest_petitions.anchor_image %}
      <div class="hero__pic">
        <img src=" {{ latest_petitions.anchor_image.url }}" alt="">
      </div>
      {% else %}
      {% endif %}
      <a href="{{ latest_petitions.get_absolute_url }}">
        <h2 class="featured__petitions">{{ latest_petitions.title }}</h2></a>
      <p>{{ latest_petitions.first_paragraph|safe }} <a href="{{ latest_petitions.get_absolute_url }}" class="continue-reading">more...</a></p>
    </article>
  </section>
  {% else %}
    <p><strong>There are no published petitions as yet.</strong></p>
  {% endif %}
{% endblock content %}