{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
    <li>
      <a title="{{brand.name}}" 
         class="socialaccount_provider socialaccount_provider  dz-btn__{{provider.id}} btn btn-primary btn-block mb-3 p-3 {{brand.id}}" 
         href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
         ><i class="fa fa-{{brand.name}}" aria-hidden="true"> Sign up with {{brand.name}}</a>
    </li>
    {% endfor %}
  {% endif %}
  <li>
    <a title="{{provider.name}}" class="socialaccount_provider  dz-btn__{{provider.id}} btn btn-primary btn-block mb-3 p-3" role="button" 
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name|lower}}" aria-hidden="true"></i> Sign up with {{provider.name|capfirst}}</a>
  </li>
{% endfor %}

