<div class="container pt-3 pb-3">
    <div class="dz-footer__copyright p-2">
        Privacy Policy &bull; Terms of Use &bull; Copyright &copy; 2017 Mzalendo. All rights reserved.
    </div>

    <nav class="nav flex-column flex-md-row p-2">

        <div class="flex-column pr-md-4 pr-lg-5">
            <h4><a class="nav-link pl-0 active" href="#">Home</a></h4>
            <ul class="nav flex-column hidden-sm-down">
                <a href="/about/">About</a>
                <a href="/news/">News</a>
                <a href="/contacts/">Get in Touch</a>
            </ul>
        </div>

        <div class="flex-column pr-md-4 pr-lg-5">
            <h4><a class="nav-link pl-0" href="/bills/">Bills</a></h4>
            <ul class="nav flex-column hidden-sm-down">
                <a href="/bills/assembly/">National Assembly Bills</a>
                <a href="/bills/senate/">Senate Bills</a>
            </ul>
        </div>

        <div class="flex-column pr-md-4 pr-lg-5">
            <h4><a class="nav-link pl-0" href="/public-participation/">Public Participation</a></h4>
            <ul class="nav flex-column hidden-sm-down">
                <a href="/public-participation/events/">Public Events</a>
                <a href="/public-participation/petitions/">Petitions</a>
                <a href="/public-participation/memoranda/">Call for Memoranda</a>
            </ul>
        </div>

        <div class="flex-column pr-md-4 pr-lg-5">
            <h4><a class="nav-link pl-0" href="#">Help</a></h4>
            <ul class="nav flex-column hidden-sm-down">
                <a href="#">FAQs</a>
                <a href="#">Sitemap</a>
            </ul>
        </div>

    </nav>
</div>
