{% load staticfiles i18n %}
<!-- Document Settings and Metadata. -->
<title>Dokeza {% block title %}{% endblock title %}</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="designer" content="" />
<meta name="rating" content="" />
<meta name="keywords" content="" />
<!-- Icons. -->
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- Apple Metadata.-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=yes" />
<!-- IE. -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- Robots and Viewport. -->
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!-- OpenGraph for Facebook. -->
<meta property="og:type" content="" />
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:locale" content="" />
<!-- Miscellaneous and SEO stuff. -->
<link rel="canonical" href="#" />
<link rel="sitemap" href="#" />
<link rel="next" href="#" />
<link rel="prev" href="#" />
<!-- STYLESHEETS. -->
<!-- Third Party Stylesheets. -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i">
<link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<!-- Project Stylesheets. -->
<link href="{% static 'css/annotator.min.css' %}" rel="stylesheet">
<link href="{% static 'dist/css/dokeza.css' %}" rel="stylesheet">
<link href="{% static 'css/mzalendo.css' %}" rel="stylesheet">
<link href="{% static 'css/calendar.css' %}" rel="stylesheet">
<style>
  /* style content */

</style>
<!-- Header Scripts. -->
