{% extends "base.html" %}
{% load scheduletags i18n %}

{% block content %}
<div class="tablewrapper">
  <div class="calendarname">{{ calendar.name }}</div>
  {% prevnext "tri_month_calendar" calendar period "F Y"%}
  <div class="now">
    <a href="{% url "tri_month_calendar" calendar.slug %}">
      {% trans "This month" %}
    </a>
  </div>
<table align="center">
	<tr>
		<td valign="top">{% month_table calendar period "small" -1 %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar period "small" +1 %}</td>
	</tr>
</table>
</div>
<div class="navigation">
  <a href="{% url 'month_calendar' calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Monthly Calendar" %}
  </a>
  <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Full Year Calendar" %}
  </a>
</div>
{% endblock %}
